body,
html,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.descriptions__title {
  height: 80px;
  line-height: 80px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-weight: 700;
}

.lineBlock {
  height: 20px;
  width: 100%;
}